@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --bg-color: #F8F9FA; /* cinza claro */
    --icons-color: #A8D5BA;/* verde menta */
    --nav-color: #6C8EA4; /* azul acizentado */
    --title-color: #2E8B57; /* verde esmeralda */
    --text-color: #355070; /* azul petróleo */
}

body{
	background-color: var(--bg-color);
	font-family: 'Open Sans', sans-serif;
	background-color: var(--bg-color);
    box-sizing: border-box;
}

.navbar{
	background-color: var(--nav-color);
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.nav-link:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 0px var(--title-color),
    0 0 25px var(--title-color);
}